@import "../../scss/variables";

.image {

    &__holder {
        position: relative;
        width: 200px;
        margin: auto;
        border-radius: 10px;
        background: gray;
        cursor: pointer;
    }

    &__cover {
        position: absolute;
        text-align: center;
        top: 26%;
        left: 26%;
        border-radius: 10px;
        height: 100px;
        width: 100px;
        background-color: $image-cover;
    }

    &__preview {
        border-radius: 10px;
        object-fit: cover;
        text-align: center;
    }

    &__dropdown-btn {
        background-color: $image-cover !important;
        border: 0 !important;
        position: absolute;
        top: -146px;
        left: 27%;
        width: 91px;
        height: 96px;
        font-weight: 700;
    }

    &__dropdown-menu {
        top: -37px !important;
        left: -32px !important;
    }

    &__avatar {
        height: 200px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &-text {
            height: auto;
            background-color: $image-avatar;
            color: white;
            border-radius: 50%;
            padding: 76px;
        }
    }
}
