@import "../../scss/variables";

.book-modal {
    max-width: 1000px;
}

.book-table-row {
    cursor: pointer;
}

.book-form {
    display: flex;

    &__item-header:after {
        content: "*";
        color: $red;
    }
}

@media only screen and (max-width: 800px) {
    .book-form {
        flex-direction: column;
    }
    .book-cover {
        flex: 100%;
        max-width: 100%;
    }
    .primary-detail {
        margin-top: 30px;
        flex: 100%;
        max-width: 100%;
    }
}
