@import '../../scss/variables';

svg {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.multi-select {
    position: relative;
    display: inline-block;
    width: 100%;

    &--invalid {
        margin-bottom: 20px;
    }
    &:focus {
        outline: 0;
        & .multi-select__input {
            outline: none;
            border: 1px solid $main;
            -webkit-box-shadow: 0 0 5px $main;
            box-shadow: 0 0 5px $main;
        }

        & .multi-select__input--invalid {
            outline: none;
            border: 1px solid $red;
            -webkit-box-shadow: 0 0 5px $red;
            box-shadow: 0 0 5px $red;
        }
    }

    &__message {
        display: none;

        &--invalid {
            position: absolute;
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: $red;
        }
    }

    &__label {
        display: block;
        margin-bottom: 6px;
    }

    &-selection {
        position: relative;
        display: flex;

        &--valid {
            background: $white;
        }

        &__value {
            position: relative;
            display: inline-block;
            margin: 6px;
            padding: 6px 10px;
            color: $grey-text;

            &--wrap {
                white-space: nowrap;
            }
        }

        &__multiple {
            padding-right: 30px;
            margin-right: 5px;
            background: $main-light;
            color: $main;
        }

        &__delete {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            padding: 12px;
            font-size: 10px;
            cursor: pointer;
        }

        &__placeholder {
            padding: 12px 10px;
            color: $grey-text;
        }

        &__arrow {
            position: absolute;
            overflow: hidden;
            top: 10px;
            right: 5px;
            display: block;
            padding: 10px;
            font-size: 10px;
            color: $grey-text;
            background-color: $white;

            &--hidden {
                display: none;
            }
        }
    }

    &__options {
        max-height: 150px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        top: 100%;
        left: 38px;
        right: 0;
        border: 1px solid $grey-border;
        background: $white;
        z-index: 11111;
    }

    &__option {
        padding: 10px 15px;
        border-bottom: 1px solid $grey-border;
        cursor: pointer;
        color: $grey-text;
        white-space: nowrap;

        &.selected {
            border: 1px solid $main;
            margin: -1px -1px 0;
            background: $main-light;
        }

        &.focused {
            background: $grey-background;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    &__input {
        width: 100%;
        min-height: 45px;
        border: 1px solid $grey-border;
        border-radius: 0 0.25rem 0.25rem 0;

        &:focus {
            outline: 1px;
            box-shadow: 0 0 1px 1px $main;
        }
        &--invalid {
            border: 1px solid $red;
            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF0000' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23FF0000' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") no-repeat right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            z-index: 1;
        }
        &--disabled {
            background-color: $select-disabled;
            opacity: 1;
            user-select: none;
        }
    }

    &__checkbox {
        content: '';
        vertical-align: top;
        display: inline-block;
        width: 16px;
        height: 16px;
        padding: 2px;
        border: 1px solid $grey-border;
        border-radius: 2px;
        margin: 2px 12px 0 0;
        color: $main;
        font-size: 10px;

        &.selected {
            border-color: $main-dark;
            background: $main;
        }
    }
}
