@import "../../../../scss/variables";

.banner-one {
    background-size: cover;
    padding-top: 315px;
    padding-bottom: 147px;
    position: relative;

    [class*=bubble-] {
        position: absolute;
        animation-name: bubbleMover;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: all .4s ease;
        perspective: 400px;
    }

    .bubble-1 {
        top: 15%;
        left: 13%;
    }

    .bubble-2 {
        top: 25%;
        left: 35%;
    }

    .bubble-3 {
        top: 60%;
        left: 15%;
    }

    .bubble-4 {
        bottom: 10%;
        left: 45%;
    }

    .bubble-5 {
        top: 10%;
        right: 15%;
    }

    .bubble-6 {
        top: 30%;
        right: 40%;
    }

    &__moc {
        max-width: 1039px;
        position: absolute;
        top: 245px;
        right: 20px;
    }

    .block-title {
        margin-bottom: 35px;
    }
    .block-title__text {
        font-size: 60px;
        line-height: 70px;
    }

    &__text {
        margin: 0 0 50px;
        font-size: 16px;
        line-height: 34px;
        color: $text-gray;
    }

    &__btn {
        display: inline-block;
        vertical-align: middle;
        border-radius: 32px;
        text-align: center;
        background-color: $theme_base_color;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 59.5px;
        transition: all .4s ease;
        box-shadow: 0 10px 30px 0 rgba(255, 130, 87, 0.3);

        &:hover {
            background-color: $theme_black;
            color: $white;
            box-shadow: 0 10px 30px 0 rgba($theme_black, 0.3);
        }
    }
}
