@import "../../../../scss/variables";

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    font-size: 16px;
    line-height: 34px;
    color: $text-gray;

    a:active,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }

    &__container {
        margin-top: -70px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.block-title {
    margin-bottom: 60px;
}

.block-title__text {
    margin: 0;
    font-weight: bold;
    color: $theme_black;
    font-size: 50px;
    line-height: 60px;
    span {
        position: relative;
        &:before {
            content: '';
            background-color: rgb(255, 130, 87);
            opacity: 0.102;
            width: 100%;
            height: 8px;
            position: absolute;
            bottom: 12px;
            left: 0;
            border-radius: 4px;
        }
    }
}

.scroll-to-top {
    width: 45px;
    height: 45px;
    background: $theme_base_color;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    text-align: center;
    transition: all .4s ease;
    border-radius: 50%;

    &:hover {
        background-color: $scroll-hover;
    }

    i {
        color: $white;
        font-size: 18px;
        line-height: 45px;
    }

}

.slideDown-hide {
    animation: collapse .7s ease-in-out;
    max-height: 0 !important;
    opacity: 1 !important;
    display: block !important;
}

.slideDown-show {
    animation: expand 1s ease-in-out;
    opacity: 1 !important;
    max-height: 70vh !important;
    display: block !important;
}

@keyframes collapse {
    from {
        max-height: 70vh;
    }
    to {
        max-height: 0;
    }
}

@keyframes expand {
    from {
        max-height: 0;
    }
    to {
        max-height: 70vh;
    }
}

.scroll-btn {
    width: 45px;
    height: 45px;
    background: #ff8257;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    text-align: center;
    transition: all 0.4s ease;
    border-radius: 50%;
    border: 0;
    color: $white;
    font-size: 18px;
    display: block;
    opacity: 0;
    &:hover {
        background-color: #9364d4;
    }
    &:focus {
        outline: none !important;
    }
}

.scroll-btn-fade-in {
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
