@import "../../../../scss/variables";

.service-one {
    padding-top: 120px;
    &__single {
        padding: 30px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 10px 60px 0 rgba(46, 61, 98, 0.1);
        overflow: hidden;
        position: relative;
        transition: all .4s ease;
        margin-bottom: 30px;

        .fa {
            font-size: 55px;
        }

        .fa-book {
            color: $fa-icon;
        }

        .fa-user {
            color: $scroll-hover;
        }

        &:hover {
            .fa {
                color: $white;
            }
        }

        &:before,
        &:after {
            content: '';
            width: 191px;
            height: 191px;
            border-radius: 50%;
            background-color: $white;
            opacity: .1;
            position: absolute;
            transition: all .4s ease .2s;
        }

        &:before {
            top: 0;
            right: 0;
            transform: translate(60%, -60%);
        }

        &:after {
            bottom: 0;
            left: 0;
            transform: translate(-60%, 60%);
        }
    }

    &__icon {
        font-size: 60px;
        transition: all .4s ease;
        color: $fa-icon;
    }

    &__title {
        margin: 10px 0 20px;
        font-size: 20px;
        line-height: 34px;
        font-weight: 600;

        a {
            color: $theme_black;
            transition: all .4s ease;

            &:hover {
                color: $white;
            }
        }
    }

    &__text {
        margin: 0 0 25px 0;
        color: $text-gray;
        font-size: 16px;
        line-height: 34px;
        transition: all .4s ease;
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        color: $social-link;
        transform: rotate(180deg);
        transition: all .4s ease;
    }
}

[class*=col-]:nth-child(1) {
    .service-one__icon {
        color: $fa-icon;
    }

    .service-one__single:hover {
        background-color: $fa-icon;

        .service-one__icon,
        .service-one__title a,
        .service-one__text,
        .service-one__link {
            color: $white;
        }

        &:before {
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
        }

        &:after {
            bottom: 0;
            left: 0;
            transform: translate(-30%, 30%);
        }
    }
}

[class*=col-]:nth-child(2) {
    .service-one__icon {
        color: $scroll-hover;
    }

    .service-one__single:hover {
        background-color: $scroll-hover;

        .service-one__icon,
        .service-one__title a,
        .service-one__text,
        .service-one__link {
            color: $white;
        }

        &:before {
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
        }

        &:after {
            bottom: 0;
            left: 0;
            transform: translate(-30%, 30%);
        }
    }
}

[class*=col-]:nth-child(3) {
    .service-one__icon {
        color: $service-icon-primary;
    }

    .service-one__single:hover {
        background-color: $service-icon-primary;

        .service-one__icon,
        .service-one__title a,
        .service-one__text,
        .service-one__link {
            color: $white;
        }

        &:before {
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
        }

        &:after {
            bottom: 0;
            left: 0;
            transform: translate(-30%, 30%);
        }
    }
}

[class*=col-]:nth-child(4) {
    .service-one__icon {
        color: $service-icon-secondary;
    }

    .service-one__single:hover {
        background-color: $service-icon-secondary;

        .service-one__icon,
        .service-one__title a,
        .service-one__text,
        .service-one__link {
            color: $white;
        }

        &:before {
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
        }

        &:after {
            bottom: 0;
            left: 0;
            transform: translate(-30%, 30%);
        }
    }
}

[class*=col-]:nth-child(5) {
    .service-one__icon {
        color: $fa-icon;
    }

    .service-one__single:hover {
        background-color: $fa-icon;

        .service-one__icon,
        .service-one__title a,
        .service-one__text,
        .service-one__link {
            color: $white;
        }

        &:before {
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
        }

        &:after {
            bottom: 0;
            left: 0;
            transform: translate(-30%, 30%);
        }
    }
}

[class*=col-]:nth-child(6) {
    .service-one__icon {
        color: $scroll-hover;
    }

    .service-one__single:hover {
        background-color: $scroll-hover;

        .service-one__icon,
        .service-one__title a,
        .service-one__text,
        .service-one__link {
            color: $white;
        }

        &:before {
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
        }

        &:after {
            bottom: 0;
            left: 0;
            transform: translate(-30%, 30%);
        }
    }
}
