@import "../../scss/variables";

.rdt_TableHead {
    vertical-align: bottom;
    border-bottom: 1px solid #c8ced3;

    .rdt_TableHeadRow {
        .sc-ifAKCX {
            border-left: 1px solid #c8ced3 !important;
            min-height: 54px;

            &:first-child {
                border-left: 0 !important;
            }
        }
    }
}

.uZNoG {
    border: 1px solid $pagination-border-color;
    border-radius: 5px;
    padding: 6px;
    margin: 0;
}

.eWVAiH {
    height: 31px;
}

.jNSZEp {
    border-top: 1px solid $pagination-border-color;
    border-bottom: 1px solid $pagination-border-color;
    border-right: 1px solid $pagination-border-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -2px;
    margin-right: 30px;
}

.jNSZEp svg {
    top: 4px;
}

#pagination-first-page {
    border: 1px solid $pagination-border-color;
    outline: none;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }

    &:focus {
        border: 1px solid $blue;
    }
}

#pagination-previous-page {
    border: 1px solid $pagination-border-color;
    outline: none;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }

    &:focus {
        border: 1px solid $blue;
    }
}

#pagination-next-page {
    border: 1px solid $pagination-border-color;
    outline: none;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }

    &:focus {
        border: 1px solid $blue;
    }
}

#pagination-last-page {
    border: 1px solid #c8ced3;
    outline: none;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }

    &:focus {
        border: 1px solid $blue;
    }
}

// page number main section class
.sc-iAyFgw {
    margin-left: 10px;
}

// page number main section
.sc-kEYyzF {
    margin-right: 10px;
    height: 35px !important;
}

// row per page section main class
.sc-hSdWYo {
    height: 35px !important;
}

.rdt_TableRow {
    .rdt_TableCell {
        border-left: 1px solid #c8ced3;
        font-size: 14px;
        min-height: 54px;
        color: rgb(35, 40, 44);

        &:first-child {
            border-left: 0;
        }
    }
}

.feAjYt span.__rdt_custom_sort_icon__ i {
    width: auto !important;
    height: auto !important;
    font-size: 12px !important;
}

.eLcwWI span.__rdt_custom_sort_icon__ i {
    width: auto !important;
    height: auto !important;
    font-size: 12px !important;
}

.feAjYt span.__rdt_custom_sort_icon__.asc i {
    transform: none !important;
}

.eLcwWI span.__rdt_custom_sort_icon__.asc i, .eLcwWI span.__rdt_custom_sort_icon__.asc svg {
    transform: none !important;
}

.eLcwWI:hover span, .eLcwWI:hover span.__rdt_custom_sort_icon__ * {
    opacity: 0.8 !important;
}

.rdt_TableCol_Sortable {
    position: relative;
    width: 100%;

    span {
        position: absolute;
        right: 0;
        width: 25px;
        top: 8px;
    }
}

.feAjYt span.__rdt_custom_sort_icon__ i {
    opacity: unset;
}

.feAjYt span.__rdt_custom_sort_icon__ i.sort-arrow-group__visible {
    opacity: .5;
}

.search-filter-container, .search-container {
    display: flex;
    justify-content: flex-end;

    &__filter-input {
        min-width: 255px;
        margin-right: 16px;
    }

    &__search-input {
        width: 255px;
    }
}

@media (max-width: 636px) {
    .search-filter-container__filter-input {
        min-width: 200px;
    }
    .search-filter-container__search-input {
        width: 200px;
    }
}

@media (max-width: 518px) {

    .search-filter-container {
        flex-direction: column;
    }
    .search-filter-container__filter-input {
        min-width: 100%;
    }
    .search-filter-container__search-input {
        width: auto;
    }
}

.rdt_TableHead .rdt_TableHeadRow .sc-ifAKCX:last-child {
    padding-left: calc(48px / 2);
}
