@import "../../scss/variables";

.rdt_TableHead {
    vertical-align: bottom;
    border-bottom: 1px solid #c8ced3;

    .rdt_TableHeadRow {
        .sc-ifAKCX {
            border-left: 1px solid #c8ced3 !important;
            min-height: 54px;
            &:first-child {
                border-left: 0 !important;
            }
        }
    }
}

.dwInao {
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0;
    border-radius: 0 !important;
}

.sc-hSdWYo {
    border: 1px solid $pagination-border-color;
    margin: 0;
}

.innQGC {
    border: 1px solid $pagination-border-color;
    margin-right: 13px;
    padding: 8px;
    border-radius: 5px;

    &:first-child {
        border-radius: 5px 0 0 5px;
    }
}

.stWhL {
    margin: 0 13px 0 -13px;
    padding-right: 0;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid $pagination-border-color;
    border-bottom: 1px solid $pagination-border-color;
    border-right: 1px solid $pagination-border-color;

    svg {
        margin-top: 5px;
    }
}

.ESHtS {
    height: 35px !important;
}

#pagination-first-page {
    border-left: 1px solid $pagination-border-color;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }
}

#pagination-previous-page {
    border-left: 1px solid $pagination-border-color;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }
}

#pagination-next-page {
    border-left: 1px solid $pagination-border-color;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }
}

#pagination-last-page {
    border-left: 1px solid #c8ced3;

    &:hover:not(:disabled) {
        svg {
            fill: $white;
        }
    }
}

.rdt_TableRow {
    .rdt_TableCell {
        border-left: 1px solid #c8ced3;
        font-size: 14px;
        min-height: 54px;
        color: rgb(35, 40, 44);

        &:first-child {
            border-left: 0;
        }
    }
}

.feAjYt span.__rdt_custom_sort_icon__ i {
    width: auto !important;
    height: auto !important;
    font-size: 12px !important;
}

.eLcwWI span.__rdt_custom_sort_icon__ i {
    width: auto !important;
    height: auto !important;
    font-size: 12px !important;
}

.feAjYt span.__rdt_custom_sort_icon__.asc i {
    transform: none !important;
}

.eLcwWI span.__rdt_custom_sort_icon__.asc i, .eLcwWI span.__rdt_custom_sort_icon__.asc svg {
    transform: none !important;
}

.eLcwWI:hover span, .eLcwWI:hover span.__rdt_custom_sort_icon__ * {
    opacity: 0.8 !important;
}

.rdt_TableCol_Sortable {
    position: relative;
    width: 100%;

    span {
        position: absolute;
        right: 0;
        width: 25px;
        top: 8px;
    }
}

.feAjYt span.__rdt_custom_sort_icon__ i {
    opacity: unset;
}

.feAjYt span.__rdt_custom_sort_icon__ i.sort-arrow-group__visible {
    opacity: .5;
}

.search-filter-container, .search-container {
    display: flex;
    justify-content: flex-end;

    &__filter-input {
        min-width: 255px;
        margin-right: 16px;
    }
    &__search-input {
        width: 255px;
    }
}

@media (max-width: 636px) {
    .search-filter-container__filter-input {
        min-width: 200px;
    }
    .search-filter-container__search-input {
        width: 200px;
    }
}

@media (max-width: 518px) {

    .search-filter-container {
        flex-direction: column;
    }
    .search-filter-container__filter-input {
        min-width: 100%;
    }
    .search-filter-container__search-input {
        width: auto;
    }
}
