.book {

    &-form {
        &__filter-by {
            display: flex;
            align-items: baseline;
            margin-left: 12px;

            &-label {
                position: relative;
                top: 3px;
            }
        }

        &__input-label {
            width: 84px;
            display: inline-block;
            vertical-align: middle;

            &--invalid {
                margin-top: -77px;
            }
        }

        &__input-book {
            margin-left: 15px;
            display: inline-block;
            width: 50%;
        }

        &__btn {
            width: 60%;
            padding-left: 116px;
        }
    }

    &__table-row {
        &-cover, &-book-code, &-action, &-language {
            width: 100px;
        }

        &-expected-available-date {
            width: 190px;
        }

        &-status {
            width: 100px;
        }
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
