.book-item {

    &__modal {
        max-width: 700px;
    }

    &__table {

        &-book-code {
            width: 120px;
        }

        &-status, &-action {
            width: 100px;
        }
    }
}
