@import "../../scss/variables";

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: $input-disabled;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: $input-indicator;
}

.control input:checked ~ .control__indicator {
    background: $blue;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: $blue;
}

.control input:disabled ~ .control__indicator {
    background: $input-disabled;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: $control-disabled;
}

.toggle-label {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 10px;
}

.rbt-input-hint-container {
    display: inline-block !important;
    //width: 100%;
}

.rbt-input-multi .rbt-input-wrapper {
    margin-top: 5px !important;
}

.rbt-input {
    min-height: 45px;
}

.input-form-group {
    margin-bottom: 0 !important;
}

.rbt-input-hint {
    top: 5px !important;
}
