@import "../../scss/variables";

.book-image-container {
    max-width: 250px;
    width: 100%;
    border: 1px solid $image-border;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    @media (max-width: 1139px) {
        margin: auto;
    }
}

.image-holder {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: gray;
    object-fit: cover;
}

.book-detail-row {
    @media (max-width: 1139px) {
        flex-flow: column;
        flex-direction: column-reverse;
    }
}

%heading {
    min-width: 110px;
    font-weight: 700;
}

.book-detail {
    width: calc(100% - 250px);

    @media (max-width: 1139px) {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    &__item-container {
        @media (max-width: 1139px) {
            margin-top: 25px;
            margin-left: 20px;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 25px;

        @media (max-width: 1139px) {
            width: 100%;
        }

        @media (min-width: 1140px) {
            margin: auto auto 25px auto;
        }

        &-title-heading {
            @extend %heading;
        }

        &-isbn-heading {
            @extend %heading;
        }

        &-genre-heading {
            @extend %heading;
        }

        &-authors-heading {
            @extend %heading;
        }

        &-tags-heading {
            @extend %heading;
        }

        &-url-heading {
            @extend %heading;
        }

        &-desc-heading {
            @extend %heading;
        }
    }

    &-form {
        display: flex;

        &__item-header:after {
            content: "*";
            color: $red;
        }
    }
}
