.empty-component {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    &--mini {
        height: 30vh;
    }
    &--mid {
        height: 67vh;
    }
    &--maxi {
        height: 70vh;
    }
    &__title {
        margin: 7px 10px 10px;
    }
}
