.dashboard {

    &__card-wrapper {
        max-width: 20%;

        @media (max-width: 1092px) {
            max-width: 50%;
        }

    }

    &__card {

        &-count {
            font-size: 22px;
            font-weight: 600;
        }

        &-title {
            margin-top: 18px;
            font-size: 17px;
            font-weight: 600;
        }

        &-icon {
            float: right;
            margin-top: -20px;
            opacity: .7;
        }
    }
}
