.toast {
    visibility: hidden;
    overflow: hidden;
    max-width: 50px;
    height: 60px;
    margin: auto;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 11111;
    bottom: 10%;
    right: 1%;
    white-space: nowrap;
    background-color: rgba(161, 169, 171, 0.5);

    &__icon {
        width: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        color: black;

        i.fa {
            color: green;
            display: inline-block;
            border-radius: 50%;
            padding: 8px;
            font-size: 15px;
            box-shadow: 0 0 2px #888;
        }
    }

    &__message {
        padding: 19px;
        white-space: nowrap;
        color: green;
    }
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s;
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }
    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }
    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }
    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }
    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 300px;
    }
    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }
    to {
        min-width: 50px;
    }
}
