@import "../../../scss/variables";

.book-modal {
    max-width: 1000px;
}

.book-table-row {

    &__cover {
        width: 90px;

        &-img {
            width: 30px;
            height: 30px;
        }
    }
}

.book-form {
    display: flex;

    &__item-header:after {
        content: "*";
        color: $red;
    }

    &__format, &__language, &__publisher {
        width: 20%;
    }
}

@media only screen and (max-width: 800px) {
    .book-form {
        flex-direction: column;
    }
    .book-cover {
        flex: 100%;
        max-width: 100%;
    }
    .primary-detail {
        margin-top: 30px;
        flex: 100%;
        max-width: 100%;
    }
}
